<style>
    table {
        border-collapse: collapse;
    }

    table,td,th {
        border: 1px solid black;
        
    }
</style>
<br>
<div class="container">
    <input type="text" name="search" placeholder="Search.." #listfilter (keyup)="0" />
    <!--ng-minlength="2" | filteradd:listfilter.value-->
    <div ng-app="myApp" ng-controller="customersCtrl">
        <table border='1'>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th colspan="2">Action</th>
            </tr>
            <tr *ngFor="let i of retrieveAdvertiements() | FilterAdd:listfilter.value">
                <td>{{ i.productname }}</td>
                <td>{{ i.category }}</td>
                <td>{{ i.description }}</td>

            </tr>
        </table>

    </div>
</div>